<div class="max-height" fxLayout="column" fxLayoutAlign="space-around center">
  <mat-card id="sign-in-card">
    <mat-card-content class="max-height">
      <mat-tab-group
        class="max-height"
        mat-align-tabs="center"
        animationDuration="450ms"
        dynamicHeight
      >
        <mat-tab label="Login" class="max-height">
          <app-login></app-login>
        </mat-tab>
        <mat-tab label="Register" class="max-height">
          <app-register></app-register>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
