<ng-container *ngIf="actor !== undefined; else loading">
  <mat-card id='profile-preview' routerLink="/actor/{{ actor?.identifier() }}">
    <mat-card-header>
      <div mat-card-avatar>
        <ng-container *ngIf="actor?.profilePicture() !== ''; else placeholder">
          <img
            mat-card-avatar
            src="{{ actor?.profilePicture() }}"
            routerLink="/actor/{{ actor?.identifier() }}"
            alt="Profile Picture"
          />
        </ng-container>
        <ng-template #placeholder>
          <svg mat-card-avatar [data-jdenticon-value]="actor?.identifier()"></svg>
        </ng-template>
      </div>
      <mat-card-title>
        <ng-container *ngIf="actor?.name !== ''; else nameUnset">{{
          actor?.name
          }}</ng-container>
        <ng-template #nameUnset>{{ actor?.preferredUsername }}</ng-template>
      </mat-card-title>
      <mat-card-subtitle>
        {{ actor?.identifier() }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-divider inset></mat-divider>
    </mat-card-content>
    <mat-card-footer>
      <ng-container *ngIf="actor?.outbox !== undefined || actor?.followers !== undefined || actor?.following !== undefined">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <h3 >{{actor?.outbox?.totalItems || 0}} Posts</h3>
          <h3 >{{actor?.followers?.totalItems || 0}} Followers</h3>
          <h3 >{{actor?.following?.totalItems || 0}} Following</h3>
        </div>
      </ng-container>
    </mat-card-footer>
  </mat-card>
</ng-container>
<ng-template #loading>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
