<mat-nav-list>
  <a class="link" mat-list-item routerLink="/timeline/personal">
    <mat-icon mat-list-icon>house</mat-icon>
    Home
  </a>
  <a class="link" mat-list-item routerLink="/timeline/local">
    <mat-icon mat-list-icon>dns</mat-icon>
    Local
  </a>
  <a class="link" mat-list-item routerLink="/timeline/public">
    <mat-icon mat-list-icon>public</mat-icon>
    Global
  </a>
  <a class="link" mat-list-item routerLink="/timeline/institute">
    <mat-icon mat-list-icon>location_city</mat-icon>
    Institute
  </a>
  <a class="link" mat-list-item routerLink="/timeline/institute">
    <mat-icon mat-list-icon>event</mat-icon>
    Events
  </a>
  <mat-divider></mat-divider>
  <a class="link" mat-list-item routerLink="/settings">
    <mat-icon mat-list-icon>settings</mat-icon>
    Settings
  </a>
  <a class="link" mat-list-item (click)="logout()">
    <mat-icon mat-list-icon>logout</mat-icon>
    Logout
  </a>
</mat-nav-list>
