<mat-card *ngIf="activity?.type === 'Create'" class="activity-wrapper">
  <app-activity-header [author]="actor"></app-activity-header>
  <mat-card-content>
    <app-note
      *ngIf="activity?.object?.type === 'Note'"
      [note]="activity?.object"
    ></app-note>
  </mat-card-content>
  <app-activity-footer
    [publicationTime]="activity?.object?.published"
  ></app-activity-footer>
</mat-card>

<mat-card *ngIf="activity?.type === 'Announce'" class="activity-wrapper">
  <app-activity-header
    [author]="activity?.object?.attributedTo"
  ></app-activity-header>
  <mat-card-content>
    <app-note
      *ngIf="activity?.object?.type === 'Note'"
      [note]="activity?.object"
    ></app-note>
  </mat-card-content>
  <app-activity-footer
    [publicationTime]="activity?.object?.published"
  ></app-activity-footer>
</mat-card>
