<mat-card *ngIf="activity?.type === 'Create'" class="activity-wrapper">
  <app-activity-header
    [author]="actor"
    [publicationTime]="activity?.object?.published"
  ></app-activity-header>
  <mat-card-content [routerLink]="['/activity']" [queryParams]="{id: activity?.id}">
    <app-note
      *ngIf="activity?.object?.type === 'Note'"
      [note]="activity?.object"
    ></app-note>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <app-activity-footer
    [publicationTime]="activity?.object?.published"
  ></app-activity-footer>
</mat-card>

<mat-card *ngIf="activity?.type === 'Announce'" class="activity-wrapper">
  <div class="repost-display" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon>loop</mat-icon>
    <span>
    <a class="repost-username" routerLink="/actor/{{ actor?.identifier() }}">
      <ng-container *ngIf="actor?.name !== ''; else nameUnset">{{ actor?.name }}</ng-container>
      <ng-template #nameUnset>{{ actor?.preferredUsername }}</ng-template>
    </a> reposted.</span>
  </div>
  <app-activity-header
    [author]="activity?.object?.attributedTo"
    [publicationTime]="activity?.object?.published"
  ></app-activity-header>
  <mat-card-content [routerLink]="['/activity']" [queryParams]="{id: activity?.id}">
    <app-note
      *ngIf="activity?.object?.type === 'Note'"
      [note]="activity?.object"
    ></app-note>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <app-activity-footer
    [publicationTime]="activity?.object?.published"
  ></app-activity-footer>
</mat-card>
