<!--
<span
  class="timeline"
  fxLayout="column"
  fxLayoutGap="10"
  fxLayoutAlign="center stretch"
>
  <ng-container
    *ngIf="loadingActivities === false; else loading"
  ></ng-container>
  <app-activity
    *ngFor="let activity of activities"
    [activity]="activity"
    [actor]="activity.actor"
  ></app-activity>
  <ng-template #loading>
    <div class="timeline" fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  <ng-container *ngIf="activities.length === 0 && !this.loadingActivities">
    <div class="timeline" fxLayout="column" fxLayoutAlign="center center">
      <h1>Your feed is looking pretty lonely...</h1>
    </div>
  </ng-container>
</span>
-->

<mat-list class="timeline">
  <ng-container *ngFor="let activity of activities">
    <mat-list-item class="post">
      <app-activity
        class="activity"
        [activity]="activity"
        [actor]="activity.actor"></app-activity>
    </mat-list-item>
  </ng-container>
</mat-list>
