<div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="8">
  <ng-container *ngIf="!loading && post !== undefined; else loadingActivity">
    <ng-container *ngIf="inReplyTo !== undefined">
      <app-post [post]="inReplyTo" [actor]="inReplyTo?.attributedTo"></app-post>
    </ng-container>
    <app-post [post]="post" [actor]="actor" [focused]="true"></app-post>
    <ng-container *ngIf="replies.length > 0">
      <app-post *ngFor="let reply of replies" [post]="reply" [actor]="reply?.attributedTo"></app-post>
    </ng-container>
  </ng-container>
  <ng-template #loadingActivity>
    <div fxLayout="column" fxLayoutAlign="center stretch">
      <mat-spinner fxFlex></mat-spinner>
    </div>
  </ng-template>
</div>

