<div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="8">
  <app-activity [activity]="activity" [actor]="activity?.actor"> </app-activity>
  <ng-container *ngIf="replies.length > 0; else loading">
    <mat-card *ngFor="let reply of replies">
      <app-activity-header [author]="reply.attributedTo"></app-activity-header>
      <ng-container *ngIf="reply.type === 'Note'">
        <app-note [note]="reply"></app-note>
      </ng-container>
      <mat-divider></mat-divider>
      <app-activity-footer></app-activity-footer>
    </mat-card>
  </ng-container>
  <ng-template #loading>
    <div fxLayout="column" fxLayoutAlign="center stretch">
      <mat-spinner fxFlex></mat-spinner>
    </div>
  </ng-template>
</div>
