<form (ngSubmit)="onSubmit()" [formGroup]="login" id="login-tab">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="8px"
    id="login-form"
  >
    <ng-container *ngIf="!loginInFlight; else loading">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
          id="username"
          autocomplete="username"
          formControlName="username"
          matInput
          required
        />
        <mat-error *ngIf="login.get('username')?.invalid">{{
          getUsernameErrorMessage()
        }}</mat-error> </mat-form-field
      ><br />
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          id="current-password"
          autocomplete="current-password"
          type="password"
          formControlName="password"
          matInput
          required
        />
        <mat-error *ngIf="login.get('password')?.invalid">{{
          getPasswordErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </ng-container>
    <ng-template #loading>
      <mat-spinner fxFlex="40"></mat-spinner>
    </ng-template>
    <button color="primary" [disabled]="loginInFlight" mat-raised-button>
      Login
    </button>
  </div>
</form>

<app-message></app-message>

