  <form
    fxLayout="column"
    fxFlexAlign="center"
    fxLayoutGap="8px"
    (ngSubmit)="onSubmit()"
    (keyup.enter)="onSubmit()"
    [formGroup]="post"
  >
    <mat-form-field appearance="fill" id="note-input-wrapper">
      <mat-label>Create a Post</mat-label>
      <textarea
        #content
        id="note-content"
        matInput
        placeholder="Thoughts..?"
        formControlName="content"
      ></textarea>
      <span id="input-footer" fxLayout="row" fxLayoutAlign="end end">
        <button id="post-button" mat-raised-button color="primary" [disabled]="postInFlight">Post</button>
      </span>
      <mat-hint align="start">
        <ng-container *ngIf="content.value.length <= 500"
          >{{ content.value.length }} / 500</ng-container
        >
      </mat-hint>
      <mat-error *ngIf="post.invalid">{{ getContentErrorMessage() }}</mat-error>
    </mat-form-field>
  </form>
