.loading-wrapper {
  height: auto;
  min-height: 50vh;
  width: 100%;
}

.outbox {
  min-height: 15vh;
  height: 100vh;
  overflow: scroll;
}

.post, .activity {
  height: auto;
  width: 100%;
}

.follow {
  margin: 0;
}

.count {
  margin-bottom: 0 !important;
  margin-top: 8px !important;
}
