<span fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="{{ actor?.profilePicture() }}" />
      <mat-card-title>
        <ng-container *ngIf="actor?.name !== ''; else nameUnset">{{
          actor?.name
        }}</ng-container>
        <ng-template #nameUnset>{{ actor?.preferredUsername }}</ng-template>
      </mat-card-title>
      <mat-card-subtitle>
        {{ actor?.identifier() }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p innerHTML="{{ actor?.summary }}"></p>
    </mat-card-content>
    <mat-card-actions align="end" [ngSwitch]="followStatus">
      <button
        mat-raised-button
        color="primary"
        *ngSwitchCase="0"
        (click)="sendFollow()"
      >
        Follow
      </button>
      <button mat-raised-button color="accent" *ngSwitchCase="1">
        Pending
      </button>
      <button mat-raised-button color="warn" *ngSwitchCase="2">Unfollow</button>
    </mat-card-actions>
  </mat-card>
  <ng-container *ngIf="activities.length > 0; else loading">
    <app-activity
      fxFlex
      fxFlexFill
      *ngFor="let activity of activities"
      [activity]="activity"
      [actor]="actor"
    ></app-activity>
  </ng-container>
  <ng-template #loading>
    <div class="loading-wrapper" fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</span>
