<mat-card-header>
  <img
      mat-card-avatar
      src="{{ profilePicture }}"
      routerLink="/actor/{{ author?.identifier() }}"
      alt="Profile Picture"
  />
  <mat-card-title class="name">
    <ng-container *ngIf="author?.name !== ''; else nameUnset">{{ author?.name }}</ng-container>
    <ng-template #nameUnset>{{ author?.preferredUsername }}</ng-template>
  </mat-card-title>
  <mat-card-subtitle class="username">
    <a routerLink="/actor/{{ author?.identifier() }}">{{
      author?.identifier()
    }}</a>
    • {{ relativeTime }}
  </mat-card-subtitle>
</mat-card-header>
