<mat-card-header>
  <div mat-card-avatar>
    <a routerLink="/actor/{{ author?.identifier() }}">
      <ng-container *ngIf="profilePicture !== ''; else placeholder">
        <img
          mat-card-avatar
          src="{{ profilePicture }}"
          routerLink="/actor/{{ author?.identifier() }}"
          alt="Profile Picture"
        />
      </ng-container>
      <ng-template #placeholder>
      <svg mat-card-avatar [data-jdenticon-value]="author?.identifier()"></svg>
      </ng-template>
    </a>
  </div>
  <mat-card-title class="name">
    <a routerLink="/actor/{{ author?.identifier() }}">
      <ng-container *ngIf="author?.name !== ''; else nameUnset"><p [innerHTML]="author?.name"></p></ng-container>
      <ng-template #nameUnset><p [innerHTML]="author?.preferredUsername"></p></ng-template>
    </a>
  </mat-card-title>
  <mat-card-subtitle class="username">
    <a routerLink="/actor/{{ author?.identifier() }}" [innerHTML]="author?.identifier()"></a>
    • {{ relativeTime }}
  </mat-card-subtitle>
</mat-card-header>
