<form [formGroup]="searchForm">
  <div id="search-wrapper" fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="center stretch">
    <mat-form-field id="search" appearance="outline" fxFlex="48">
      <mat-label>Search</mat-label>
      <input
        matInput
        type="search"
        placeholder="Search"
        formControlName="query"
        (keyup.enter)="submit()"
      />
      <button mat-icon-button matSuffix (click)="submit()"
        ><mat-icon>search</mat-icon></button
      >
    </mat-form-field>
  </div>
</form>
