<app-search></app-search>
<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="16px">
  <span class="sidebar-links-container" fxFlex="25" fxLayout="row" fxLayoutAlign="center center">
    <app-profile-preview fxFlex="90"></app-profile-preview>
  </span>
  <span class="sidebar-links-container timeline" fxFlex="50" >
    <span class="primary-display">
      <router-outlet></router-outlet>
      <app-message></app-message>
    </span>
  </span>
  <span class="sidebar-links-container" fxFlex="25" fxLayout="row" fxLayoutAlign="center start">
    <app-navigation-list></app-navigation-list>
  </span>
</div>
