<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="16px">
  <span class="sidebar-links-container" fxLayout="column" fxFlex="25">
  </span>
  <span class="sidebar-links-container timeline" fxFlex="50" fxLayoutGap="16px">
    <app-search></app-search>
    <app-create-post></app-create-post>
    <span class="primary-display" fxLayout="column" fxLayoutAlign="start none">
      <div fxFlex>
        <router-outlet></router-outlet>
      </div>
      <app-message></app-message>
    </span>
  </span>
  <span class="sidebar-links-container" fxFlex="25">
    <mat-list>
      <a routerLink="/timeline/personal">
        <mat-list-item>
          <mat-icon mat-list-icon>house</mat-icon>
          Home
        </mat-list-item>
      </a>
      <a routerLink="/timeline/local">
        <mat-list-item>
          <mat-icon mat-list-icon>dns</mat-icon>
          Local
        </mat-list-item>
      </a>
      <a routerLink="/timeline/public">
        <mat-list-item>
          <mat-icon mat-list-icon>public</mat-icon>
          Global
        </mat-list-item>
      </a>
      <a routerLink="/timeline/university">
        <mat-list-item>
          <mat-icon mat-list-icon>location_city</mat-icon>
          University
        </mat-list-item>
      </a>
    </mat-list>
  </span>
</div>
