<ng-container *ngIf="!loadingActivities; else loading">
  <mat-card class="notifications-panel">
    <mat-card-header>
      <mat-card-title>
        Notifications
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <ng-container *ngIf="activities.length > 0; else empty">
        <mat-list>
          <ng-container *ngFor="let activity of activities">
            <ng-container *ngIf="activity?.type === 'Like'">
              <mat-list-item>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4">
                  <mat-icon matListIcon>favorite</mat-icon>
                  <span class="favorite" fxFlexFill><a routerLink="/actor/{{ identifier(activity) }}">{{activity?.actor?.preferredUsername}}</a> has liked your <a [routerLink]="['/activity']" [queryParams]="{id: activity?.id}">post</a></span>
                </div>
              </mat-list-item>
            </ng-container>
            <ng-container *ngIf="activity?.type === 'Invite'">
              <mat-list-item>
                <div  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4">
                  <mat-icon matListIcon>event</mat-icon>
                  <span class="event" fxFlexFill><a routerLink="/actor/{{ identifier(activity) }}">{{activity?.actor?.preferredUsername}}</a> has invited you to an <a [routerLink]="['/activity']" [queryParams]="{id: activity?.id}">event</a></span>
                </div>
              </mat-list-item>
            </ng-container>
          </ng-container>
        </mat-list>
      </ng-container>
      <ng-template #empty>
        <p>Nothing to report.</p>
      </ng-template>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #loading>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
