<mat-card-content>
  <p [innerHTML]="note?.content"></p>
  <ng-container *ngIf="attachments?.length !== 0">
    <mat-grid-list cols="2">
      <mat-grid-tile
        *ngFor="let a of attachments"
        [rowspan]="a.rowspan"
        [colspan]="a.colspan"
      >
        <ng-container *ngIf="a?.attachment?.mediaType?.startsWith('image')">
          <img src="{{ a?.attachment?.url }}" alt="a?.attachment?.name" />
        </ng-container>
        <ng-container *ngIf="a?.attachment?.mediaType?.startsWith('video')">
          <app-video
            source="{{ a?.attachment?.url }}"
            type="{{ a?.attachment?.mediaType }}"
          ></app-video>
        </ng-container>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>
</mat-card-content>
