<mat-card-content>
  <p [innerHTML]="note?.content"></p>
  <div
    *ngIf="attachments?.length > 0"
    class="image-display"
    fxLayout="row wrap"
    fxLayoutAlign="center stretch"
    fxLayoutGap="4px"
  >
    <ng-container *ngFor="let a of attachments">
      <ng-container *ngIf="a?.mediaType?.startsWith('image')">
        <img fxFlex="49" src="{{ a?.url }}" alt="a?.name" />
      </ng-container>
      <ng-container *ngIf="a?.mediaType?.startsWith('video')">
        <div plyr plyrTitle=""></div>
      </ng-container>
    </ng-container>
  </div>
</mat-card-content>
